.trendingVideo {
  max-width: 30%;
  max-height: 20%;
  margin-right: 10px;
}

.videoProf {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 5px;
}

.trendingVideoProfCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  font-size: 14px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}

.channelName {
  width: 60vw;
}

.viewsCont {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}

.trendingVideoItemCont {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 90vw;
}

.noOfViews {
  margin-right: 20px;
  margin-bottom: 0px;
}

.savedAndTrendingItem {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.savedTitle {
  font-weight: bold;
  font-size: 15px;
}

#trendingVideoItem {
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 575px) {
  #trendingVideoItem {
    display: flex;
    flex-direction: column;
  }
  .trendingVideo {
    min-width: 80%;
    height: 40vh;
    margin-right: 10px;
  }
}

@media all and (min-width: 576px and max-width: 768px) {
  .trendingVideoProfCont {
    min-width: 30vw;
  }
}
