.noSavedVideos {
  height: 40vh;
  width: 30vw;
}

.noSaved {
  padding: 20px;
  text-align: center;
}

.dark {
  background-color: #0f0f0f;
  color: white !important;
}

.white {
  background-color: #f9f9f9;
  color: black;
}
