.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  height: 30vh;
  background-size: cover;
  margin-bottom: 30px;
  padding: 30px;
}

.homeRoute {
  width: 100vw;
}

.searchIcon {
  height: 20px;
  width: 3vw;
}

.bannerContent {
  color: black !important;
}

.closeBtn {
  border-style: none;
  height: 30px;
}

.searchCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.failCont {
  padding: 20px;
  text-align: center;
}

.failureHome {
  height: 30vh;
  width: 40vw;
}

#homeList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.noVideos {
  height: 25vh;
  width: 40vw;
}

.dark {
  background-color: #181818 !important;
  color: white !important;
}

.white {
  background-color: #f9f9f9 !important;
  color: black !important;
}

.search {
  padding: 5px;
  margin-left: 35px;
  width: 25vw;
}

@media all and (max-width: 576px) {
  #homeList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
