.videoDetCont1 {
  padding: 20px;
  font-size: 15px;
}

.videoDetContViews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
}

.VideoDetImg {
  min-height: 70vh;
  min-width: 60vw;
}

.likeContBtn {
  border-style: none;
  background-color: transparent;
}

.title {
  font-weight: bold;
}

.likeCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 15vw;
  font-size: 30px !important;
}

.blue {
  color: #2563eb;
}

.normal {
  color: #64748b;
}

.videoItemDetCont {
  width: 80vw;
}

.lIcons {
  margin-top: 0px;
  margin-right: 2px;
}

.likeCont1 {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.prof {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 5px;
}

.detCont2 {
  display: flex;
  flex-direction: row;
}

.videoDetContViews1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
